<md-toolbar>Create mock</md-toolbar>
<md-card class="m-3">
  <md-card-content>
    <form [formGroup]="mockForm" (ngSubmit)="save()">
      <md-card>
        <md-card-subtitle>Mock</md-card-subtitle>
        <md-card-content fxLayout.gt-sm="row" fxLayout="column">
          <md-input-container fxFlex.gt-sm="25">
            <input mdInput type="text" placeholder="Name" formControlName="name">
            <md-error *ngIf="mockForm.get('name').hasError('required')">
              Name is required
            </md-error>
          </md-input-container>
          <md-input-container fxFlex.gt-sm="25">
            <input mdInput type="text" placeholder="Collection" formControlName="collection">
          </md-input-container>
          <md-input-container fxFlex.gt-sm="5">
            <input mdInput type="number" placeholder="Delay" formControlName="delay">
          </md-input-container>
          <md-input-container fxFlex.gt-sm="45">
            <textarea mdInput placeholder="Description" formControlName="description" rows="1"></textarea>
          </md-input-container>
        </md-card-content>
      </md-card>
      <md-card formGroupName="request">
        <md-card-subtitle>Request</md-card-subtitle>
        <md-card-content fxLayout.gt-sm="row" fxLayout="column">
          <md-input-container fxFlex.gt-sm="50" fxFlex.gt-md="30">
            <input mdInput type="text" placeholder="Path" formControlName="path">
            <md-error *ngIf="mockForm.get('request').get('path').hasError('required')">
              Request path is required
            </md-error>
          </md-input-container>
          <div fxFlex.gt-sm="50" fxFlex.gt-md="30">
            <div>Method</div>
            <md-radio-group formControlName="method" fxLayoutAlign.gt-sm="space-around" fxLayout.gt-sm="row" fxLayout="column">
              <md-radio-button *ngFor="let method of methods" [value]="method">
                {{method}}
              </md-radio-button>
            </md-radio-group>
          </div>
        </md-card-content>
        <div fxLayout.gt-md="row" fxLayout="column" fxLayoutAlign.gt-md="space-around">
          <md-card fxFlex.gt-md="48">
            <md-card-subtitle>Request params</md-card-subtitle>
            <md-card-content fxLayout="row">
              <button type="button" md-mini-fab color="primary" (click)="addToFormArray(paramsFormArray)" id="add-param">
                <md-icon>add</md-icon>
              </button>
              <div class="ml-4" formArrayName="params" fxLayout="column" fxFlex>
                <div *ngFor="let param of paramsFormArray.controls; let i = index" [formGroupName]="i" fxLayout="row"
                     fxLayoutAlign="space-between">
                  <md-input-container fxFlex="40">
                    <input mdInput type="text" placeholder="Name" formControlName="key">
                    <md-error *ngIf="param.get('key').hasError('required')">
                      Request param name is required
                    </md-error>
                  </md-input-container>
                  <md-input-container fxFlex="40">
                    <input mdInput type="text" placeholder="Value" formControlName="value">
                    <md-error *ngIf="param.get('value').hasError('required')">
                      Request param value is required
                    </md-error>
                  </md-input-container>
                  <button type="button" md-mini-fab color="warn" (click)="removeFromFormArray(paramsFormArray, i)" id="remove-param">
                    <md-icon>remove</md-icon>
                  </button>
                </div>
              </div>
            </md-card-content>
          </md-card>
          <md-card fxFlex.gt-md="48">
            <md-card-subtitle>Request headers</md-card-subtitle>
            <md-card-content fxLayout="row">
              <button type="button" md-mini-fab color="primary" (click)="addToFormArray(headersFormArray)" id="add-header">
                <md-icon>add</md-icon>
              </button>
              <div class="ml-4" formArrayName="headers" fxLayout="column" fxFlex>
                <div *ngFor="let header of headersFormArray.controls; let i = index" [formGroupName]="i" fxLayout="row"
                     fxLayoutAlign="space-between">
                  <md-input-container fxFlex="40">
                    <input mdInput type="text" placeholder="Name" formControlName="key">
                    <md-error *ngIf="header.get('key').hasError('required')">
                      Request header name is required
                    </md-error>
                  </md-input-container>
                  <md-input-container fxFlex="40">
                    <input mdInput type="text" placeholder="Value" formControlName="value">
                    <md-error *ngIf="header.get('value').hasError('required')">
                      Request header value is required
                    </md-error>
                  </md-input-container>
                  <button type="button" md-mini-fab color="warn" (click)="removeFromFormArray(headersFormArray, i)" id="remove-header">
                    <md-icon>remove</md-icon>
                  </button>
                </div>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </md-card>
      <md-card formGroupName="response">
        <md-card-subtitle>Response</md-card-subtitle>
        <md-card-content fxLayout.gt-sm="row" fxLayout="column">
          <md-input-container fxFlex.gt-sm="60">
            <textarea mdInput placeholder="Body" formControlName="body" rows="6"></textarea>
          </md-input-container>
          <div fxFlex.gt-sm>
            <div>
              <md-input-container fxFlex.gt-sm="30">
                <input mdInput placeholder="Status" [mdAutocomplete]="autoStatus" formControlName="status">
              </md-input-container>
              <md-autocomplete #autoStatus="mdAutocomplete" id="status-autocomplete">
                <md-option *ngFor="let status of filteredStatus | async" [value]="status">
                  {{ status }}
                </md-option>
              </md-autocomplete>
            </div>
            <div>
              <md-input-container fxFlex.gt-sm="50">
                <input mdInput placeholder="Content type" [mdAutocomplete]="autoContentType" formControlName="contentType">
              </md-input-container>
              <md-autocomplete #autoContentType="mdAutocomplete">
                <md-option *ngFor="let contentType of filteredContentTypes | async" [value]="contentType">
                  {{ contentType }}
                </md-option>
              </md-autocomplete>
            </div>
          </div>
        </md-card-content>
        <md-card-actions fxLayoutAlign="end">
          <button md-fab type="submit" [disabled]="mockForm.invalid">
            <md-icon>add</md-icon>
          </button>
        </md-card-actions>
      </md-card>
    </form>
  </md-card-content>
</md-card>
