@import '~@angular/material/theming';
@import '../../shared/styles/theme';

form {
  md-card {
    padding: 12px;
    margin-bottom: 2vh;
    &.group-error {
      @include mat-elevation(4);
      border: solid $mpi-warn 2px;
    }
    md-card-subtitle {
      margin-bottom: 0;
    }
    md-card-content {
      md-input-container {
        margin: 0 2vw;
      }
      button {
        margin-top: 2vh;
      }
    }
    md-card-actions {
      margin: 0 6px 6px 0;
    }
  }
}
