.home-header-background {
  height: 50vh;
  margin-bottom: 4vh;
  background: url('../../assets/images/bg_portal.jpg') no-repeat;
  background-size: 100% 100%;
}

.home-header-section {
  text-align: center;
  padding-top: 15vh;
}

.home-header-headline {
  h1 {
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    margin: 15px 0 15px 0;
  }

  h2 {
    color: white;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px 0;
  }

  .github-icon {
    height: 12px;
  }
}

.docs-homepage-promo {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 16px;

  h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 16px 0;
    padding: 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 24px 0;
    padding: 0;
  }
}

.home-content {
  margin: 4vh 0;
  .center-row {
    text-align: center;
  }
  h2 {
    margin-bottom: 6vh;
  }
  a {
    padding: 0;
    min-width: 0;
  }
}
