<header class="home-header-background">
  <div class="home-header-section">
    <div class="home-header-headline">
      <h1>MockPI</h1>
      <h2>Reactive REST API mocking</h2>
    </div>
    <div class="home-header-start">
      <a md-raised-button class="home-button" href="https://github.com/jntakpe/mockpi">
        <img src="../../assets/images/github.svg" alt="Github" height="16px"/>&nbsp;
        Contribute
      </a>
    </div>
  </div>
</header>
<div class="home-content" fxLayout="row" fxLayoutAlign="center">
  <div fxFlex.gt-md="80" class="center-row">
    <h2>MockPI the simplest way to mock your APIs.</h2>
    <p>Configure your <a md-button routerLink="mocks">mocks</a> with a modern UI and monitor mock calls using
      <a md-button routerLink="requests">requests</a> page.</p>
    <p><a md-button href="https://github.com/jntakpe/mockpi">MockPI</a> is an open source project, fell free to contribute for better
      user experience</p>
    <p>Please, report bugs with <a md-button href="https://github.com/jntakpe/mockpi/issues">Github issues</a></p>
  </div>
</div>
