@import '~@angular/material/_theming';

@include mat-core();
$primary: mat-palette($mat-blue, 700);
$accent: mat-palette($mat-orange, 800, A100, A400);
$warn: mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

$mpi-primary: map-get($primary, 'default');
$mpi-accent: map-get($accent, 'default');
$foreground: map-get($theme, 'foreground');
$background: map-get($theme, 'background');
