version: '2'
services:
  mockpi-backend:
    environment:
      - SPRING_PROFILES_ACTIVE=$PROFILE
      - SPRING_DATA_MONGODB_DATABASE=$MONGODB_DATABASE
      - SPRING_DATA_MONGODB_USERNAME=$MONGODB_USERNAME
      - SPRING_DATA_MONGODB_PASSWORD=$MONGODB_PASSWORD
    build:
      dockerfile: ./src/main/docker/Dockerfile
      context: .
    ports:
      - 8080:8080
