<md-toolbar>Mock list</md-toolbar>
<md-card class="m-3">
  <md-card class="mb-4">
    <md-card-content>
      <form [formGroup]="searchForm">
        <md-input-container>
          <input mdInput type="text" placeholder="Name" formControlName="name">
        </md-input-container>
        <md-input-container>
          <input mdInput type="text" placeholder="Path" formControlName="path">
        </md-input-container>
        <md-input-container>
          <input mdInput type="text" placeholder="Method" formControlName="method">
        </md-input-container>
        <md-input-container>
          <input mdInput type="text" placeholder="Params" formControlName="params">
        </md-input-container>
        <md-input-container>
          <input mdInput type="text" placeholder="Body" formControlName="body">
        </md-input-container>
      </form>
    </md-card-content>
  </md-card>
  <md-card-content>
    <ngx-datatable
      class="material striped"
      [rows]="mocks$ | async"
      [columns]="columns"
      columnMode="force"
      headerHeight="50"
      footerHeight="50"
      rowHeight="40"
      limit="10">
    </ngx-datatable>
    <section fxLayout="row" fxLayoutAlign="end" class="mt-4">
      <a md-fab [routerLink]="['/mocks', '']">
        <md-icon>add</md-icon>
      </a>
    </section>
  </md-card-content>
</md-card>

<ng-template #actionsTpl let-mock="row">
  <button class="actions-btn" md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item [routerLink]="['/mocks', mock.name]">
      <md-icon>edit</md-icon>
      <span>Edit</span>
    </button>
    <button class="remove-btn" md-menu-item (click)="remove(mock)">
      <md-icon>delete_forever</md-icon>
      <span>Delete</span>
    </button>
  </md-menu>
</ng-template>
