<md-toolbar>Mock list</md-toolbar>
<md-card class="m-3">
  <mpi-mock-search (searchChanges)="updateFilter($event)"></mpi-mock-search>
  <md-card-content>
    <ngx-datatable
      class="material striped"
      [rows]="mocks$ | async"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="40"
      [limit]="2">
    </ngx-datatable>

    <ng-template #actionsTpl let-mock="row">
      <button class="actions-btn" md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button class="visualize-btn" md-menu-item (click)="visualize(mock)">
          <md-icon>visibility</md-icon>
          <span>Visualize</span>
        </button>
        <button class="duplicate-btn" md-menu-item (click)="duplicate(mock)">
          <md-icon>content_copy</md-icon>
          <span>Duplicate</span>
        </button>
        <button md-menu-item [routerLink]="['/mock', mock.id]">
          <md-icon>edit</md-icon>
          <span>Edit</span>
        </button>
        <button class="remove-btn" md-menu-item (click)="remove(mock)">
          <md-icon>delete_forever</md-icon>
          <span>Delete</span>
        </button>
      </md-menu>
    </ng-template>

    <section fxLayout="row" fxLayoutAlign="end" class="mt-4">
      <a md-fab [routerLink]="['/mock', '']">
        <md-icon>add</md-icon>
      </a>
    </section>
  </md-card-content>
</md-card>
