<div class="signin-container" fxLayout="column" fxLayoutAlign="center center">
  <md-card class="signin-card">
    <img md-card-image class="card-logo" src="assets/images/logo_angular.svg" alt="Logo">
    <md-card-header fxLayout="column">
      <md-card-title fxLayoutAlign="center center">mockPI</md-card-title>
      <md-card-subtitle fxLayoutAlign="center center">Mock portal interface</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <form class="signin-form" [formGroup]="loginForm" (ngSubmit)="signIn()" autocomplete="on" fxLayout="column" fxFlex>
        <md-input-container>
          <span md-prefix><md-icon>person</md-icon></span>
          <input mdInput type="text" placeholder="Username" formControlName="username" #username>
        </md-input-container>
        <md-input-container>
          <span md-prefix><md-icon>lock</md-icon></span>
          <input mdInput type="password" placeholder="Password" formControlName="password" #password>
        </md-input-container>
        <button md-raised-button color="accent" type="submit" [disabled]="loginForm.invalid">Sign in</button>
      </form>
    </md-card-content>
  </md-card>
</div>
