<nav class="header-navbar">
  <div fxShow.gt-sm fxHide>
    <a md-button class="header-button" routerLink="/" aria-label="Web Core">
      <img class="header-logo" src="assets/images/logo_angular_whiteTransparent.svg" alt="Logo">
      <span>mockPI</span>
    </a>
    <a md-button class="header-button" routerLink="/mocks">Mocks</a>
    <a md-button class="header-button" routerLink="/activity">Activity</a>
  </div>
  <div fxHide.gt-sm fxShow>
    <button md-button [mdMenuTriggerFor]="menu">
      <md-icon>menu</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item routerLink="/">Home</button>
      <button md-menu-item routerLink="/mocks">Mocks</button>
      <button md-menu-item routerLink="/activity">Activity</button>
    </md-menu>
  </div>
  <mpi-nav-sign></mpi-nav-sign>
</nav>
