@import '../../styles/theme';

.header-navbar {
  color: white;
  background: $mpi-primary;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 16px;

  mpi-nav-sign {
    margin-left: auto;
  }
}

.header-logo {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}
