<md-toolbar>Register</md-toolbar>
<md-card class="m-3" fxLayoutAlign="center">
  <md-card-content fxFlex.gt-md="50">
    <form [formGroup]="registerForm" fxLayout="column">
      <md-input-container>
        <span mdPrefix><md-icon>person</md-icon>&nbsp;</span>
        <input mdInput type="text" placeholder="Username" formControlName="username" #username>
        <md-error *ngIf="registerForm.get('username').touched && registerForm.get('username').hasError('required')">
          Username is required
        </md-error>
        <md-error *ngIf="registerForm.get('username').touched && registerForm.get('username').hasError('minlength')">
          Username must contain at least 3 characters
        </md-error>
      </md-input-container>
      <md-input-container>
        <span mdPrefix><md-icon>mail</md-icon>&nbsp;</span>
        <input mdInput type="text" placeholder="Email" formControlName="email">
        <md-error *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">
          Email address is required
        </md-error>
        <md-error *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('email')">
          Email address must be valid
        </md-error>
      </md-input-container>
      <md-input-container>
        <span mdPrefix><md-icon>face</md-icon></span>
        <input mdInput type="text" placeholder="Name" formControlName="name">
        <md-error *ngIf="registerForm.get('name').touched && registerForm.get('name').hasError('required')">
          Name is required
        </md-error>
      </md-input-container>
      <section formGroupName="pwdForm" fxLayout="column">
        <md-input-container>
          <span mdPrefix><md-icon>lock</md-icon>&nbsp;</span>
          <input mdInput type="password" placeholder="Password" formControlName="password">
          <md-error *ngIf="registerForm.get('pwdForm').get('password').touched &&
            registerForm.get('pwdForm').get('password').hasError('required')">
            Password is required
          </md-error>
        </md-input-container>
        <md-input-container>
          <span mdPrefix><md-icon>lock_outline</md-icon>&nbsp;</span>
          <input mdInput type="password" placeholder="Confirm password" formControlName="confirmPassword">
          <md-hint *ngIf="registerForm.get('pwdForm').get('confirmPassword').dirty && registerForm.get('pwdForm').hasError('pwdMatch')">
            Password confirmation must match password
          </md-hint>
        </md-input-container>
      </section>
      <section class="mt-3">
        <button md-raised-button color="accent">Register</button>
      </section>
    </form>
  </md-card-content>
</md-card>
