<md-toolbar>Register</md-toolbar>
<md-card class="m-3" fxLayoutAlign="center">
  <md-card-content fxFlex.gt-md="50">
    <form [formGroup]="registerForm" fxLayout="column">
      <md-input-container>
        <span mdPrefix><md-icon>person</md-icon></span>
        <input mdInput type="text" placeholder="Username" formControlName="username" #username>
      </md-input-container>
      <md-input-container>
        <span mdPrefix><md-icon>mail</md-icon></span>
        <input mdInput type="text" placeholder="Email" formControlName="email">
      </md-input-container>
      <md-input-container>
        <span mdPrefix><md-icon>face</md-icon></span>
        <input mdInput type="text" placeholder="Name" formControlName="name">
      </md-input-container>
      <section formGroupName="pwd" fxLayout="column">
        <md-input-container>
          <span mdPrefix><md-icon>lock</md-icon></span>
          <input mdInput type="password" placeholder="Password" formControlName="password">
        </md-input-container>
        <md-input-container>
          <span mdPrefix><md-icon>lock_outline</md-icon></span>
          <input mdInput type="confirmPassword" placeholder="Confirm password" formControlName="confirmPassword">
        </md-input-container>
      </section>
      <section class="mt-3">
        <button md-raised-button color="accent">Register</button>
      </section>
    </form>
  </md-card-content>
</md-card>
